/* general classed */

:root {
  --diameter: 80px;
}

@font-face {
  font-family: 'Emirates';
  src: url('../Fonts/Emirates\ Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Emirates';
  src: url('../Fonts/Emirates-Bold.ttf');
  font-weight: bold;

}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Emirates';
  font-size: 12px ;
}
.primary{
  color: #ed0c72 !important;
}
.pt-6{
  padding-top: 60px;
}
.container {
  max-width: 720px !important;
}
.font-bold{
  font-weight: bold !important ; 
}
.font-size-5{
  font-size: 45px ;
}
.bg-gray{
  background-color: rgb(216, 216, 216);
}

/* end of general classed */



.landing {
  height: 450px !important;
  background-image: url(../images/Untitled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.cardWH {
  height: 116px;
  width: 100px;
  right: calc(50% - var(--diameter)/2);
  border-radius: 6px;
  bottom: -50px;
}