/* general classed */

:root {
  --diameter: 80px;
  --diameter2: 200px;
}

@font-face {
  font-family: 'Emirates';
  src: url('../Fonts/Emirates\ Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Emirates';
  src: url('../Fonts/Emirates-Bold.ttf');
  font-weight: bold;

}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Emirates';
  font-size: 12px ;
}
.primary{
  color: #ed0c72 !important;
}
.bg-primary{
  background-color: #ed0c72 !important;
}
.pt-6{
  padding-top: 60px;
}
.container {
  max-width: 720px !important;
}
.font-bold{
  font-weight: bold !important ; 
}
.font-size-5{
  font-size: 45px ;
}
.bg-gray{
  background-color: rgb(216, 216, 216);
}

/* end of general classed */



.landing {
  height: 400px !important;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.cardWH {
  height: 116px;
  width: 100px;
  right: calc(50% - var(--diameter)/2);
  border-radius: 6px;
  bottom: -50px;
}
.WH{
  left: calc(50% - var(--diameter2)/2);
  color: white;
  width: 200px ;
  top: -16px;
}


/* ============== WELCOME PAGE STYLES ================= */
.thank-you{
  font-size: 7rem;
  margin-top: 120px;
}
.logo{
  width: 150px;
  margin-top: 150px;
}
.order-done{
  font-size: 2.5rem;
}

.background-primary{
  background-color: #ed0c72;
}
.btn-home{
  width: 55%;
  font-size: 2.5rem;
  border-radius: 10px;
  margin-top: 150px;
}

.landing_home{
  background-image: url('../images/background1.svg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.icon{
  width: 20px;
}

.footer{
  font-size: 1.5rem;
  margin-top: 150px;
  margin-bottom: 40px;
}

.image{
  width: 90%;
}
